{% apply spaceless %}
<!DOCTYPE html>
<html lang="{{ currentLanguage }}" dir="{{ isRTL ? 'rtl' : 'ltr' }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{{ pagetitle }}</title>
    <link rel="preload" href="{{ asset('fonts/fa-solid-900.woff2') }}" as="font" crossorigin>
    <link rel="icon" href="{{ asset("icons/favicon.ico") }}">
    <link rel="icon" type="image/png" href="{{ asset('images/icons/favicon.ico', 'themeRedIRIS') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css', 'themeRedIRIS') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap-icons/bootstrap-icons.css', 'themeRedIRIS') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css', 'themeRedIRIS') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/Linearicons-Free-v1.0.0/icon-font.min.css', 'themeRedIRIS') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/animate/animate.compat.css', 'themeRedIRIS') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css-hamburgers/hamburgers.min.css', 'themeRedIRIS') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/animsition/css/animsition.min.css', 'themeRedIRIS') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/select2/select2.min.css', 'themeRedIRIS') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/daterangepicker/daterangepicker.css', 'themeRedIRIS') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/vegas/vegas.css', 'themeRedIRIS') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/vegas/vegas.min.css', 'themeRedIRIS') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/util.css', 'themeRedIRIS') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css', 'themeRedIRIS') }}">
    <meta name="robots" content="noindex, nofollow">
    {{ include('_head.twig', ignore_missing = true) }}
    {% block preload %}{% endblock %}
  </head>

  <body id="{{ templateId }}">
      <div class="limiter">
          <div class="container-login100">
              <div class="wrap-login100 middle">
                  <div class="login100-form validate-form" >
						          <div class="loginSide">

                          {% block content %}{% endblock %}

                      </div>
                  </div>
                  <div class="login100-more" id="slider"></div>
              </div>
          </div>   
      </div>            
  
      <script src="{{ asset('js/bundle.js') }}"></script>
      <script src="{{ asset('vendor/jquery/jquery-3.6.0.js', 'themeRedIRIS') }}"></script>
      <script src="{{ asset('vendor/animsition/js/animsition.min.js', 'themeRedIRIS') }}"></script>
      <script src="{{ asset('vendor/bootstrap/js/popper.js', 'themeRedIRIS') }}"></script>
      <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
      <script src="{{ asset('vendor/select2/select2.min.js', 'themeRedIRIS') }}"></script>
      <script src="{{ asset('vendor/daterangepicker/moment.min.js', 'themeRedIRIS') }}"></script>
      <script src="{{ asset('vendor/daterangepicker/daterangepicker.js', 'themeRedIRIS') }}"></script>
      <script src="{{ asset('vendor/countdowntime/countdowntime.js', 'themeRedIRIS') }}"></script>
      <script src="{{ asset('vendor/vegas/vegas.min.js', 'themeRedIRIS') }}"></script>
      <script src="{{ asset('js/main.js', 'themeRedIRIS') }}"></script>
      <script src="{{ asset('js/loginuserpass.js', 'core') }}"></script>
      <script>
          $("#slider").vegas({
            slides: [
              {% for fondo in fondos %}
                { src: "{{ asset('images/fondos/'~ fondo ,'themeRedIRIS') }}" },
              {% endfor %}
            ],
            timer: false,
            shuffle: true,
            transition: 'blur',
            delay: 10000,
            transitionDuration: 2000,
            cover: true
            //overlay: '{{ asset('vendor/vegas/overlays/05.png', 'themeRedIRIS') }}'
          });
      </script>
      {% block postload %}{% endblock %}
  </body>
</html>
{% endapply %}