{% apply spaceless %}
<!DOCTYPE html>
<html lang="{{ currentLanguage }}" dir="{{ isRTL ? 'rtl' : 'ltr' }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="robots" content="noindex, nofollow">

    <title>{{ pagetitle }}</title>
    <link rel="icon" type="image/png" href="{{ asset('icons/favicon.ico', 'themeRedIRIS') }}"/>
    
      
    {{ include('_head.twig', ignore_missing = true) }}
    {% block preload %}{% endblock %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css', 'themeRedIRIS') }}">
  </head>

  <body id="{{ templateId }}">
    
      <div class="row vh-100 m-0 p-0">

          {% block content %}{% endblock %}

      </div>            
      
      <div id="imageData" data-images="{% for fondo in fondos %}{{ asset('images/fondos/'~ fondo ,'themeRedIRIS') }}{% endfor %}"></div>

      <script src="{{ asset('js/RedIRIS_slider.js', 'themeRedIRIS') }}"></script>

      {% block postload %}{% endblock %}
  </body>
</html>
{% endapply %}