{% set pagetitle = 'Enter your username and password'|trans %}

{% extends "baseSSO.twig" %}

{% block preload %}
{% endblock %}


{% block postload %}			
{% endblock %}


{% block content %}

							<div class="login100-form-title p-b-43"> 
								<img src="{{ asset('images/logo/'~ logo, 'themeRedIRIS') }}" width="200" />
							</div>

							<div class="text-justify p-b-20">
								<span class="txt2">
									{%- if not isProduction %}

									<div class="message-box warning">
										{% trans %}You are now accessing a pre-production system. This authentication setup is for testing and pre-production verification only. If someone sent you a link that pointed you here, and you are not <i>a tester</i> you probably got the wrong link, and should <b>not be here</b>.{% endtrans %}
									</div>

									{% endif -%}
									{% if errorcode -%}

									<div class="pure-g">
										<div class="pure-u-1">
											<div class="message-box error">
												
												{% set errtitles = errorcodes['title'] %}
												{% set errtitle = errtitles[errorcode] %}

												<h3>{{ errtitle|trans(errorparams) }}</h3>

												{% set errdescs = errorcodes['descr'] %}
												{% set errdesc = errdescs[errorcode] %}

												<p>{{ errdesc|trans(errorparams) }}</p>
																		
											</div>
										</div>
									</div>

									{%- endif %}
								</span>
							</div>

					
							<form class="pure-form pure-form-aligned center-form" action="{{ moduleURL('core/loginuserpass', {'AuthState': AuthState}) }}" method="post" name="f">

								<div class="wrap-input100 {{ forceUsername ? '' : 'validate-input'}} " data-validate = "User is required">

									<input id="username" class="input100" {{ forceUsername ? 'disabled' }} placeholder="Nombre usuario" type="text" name="username"
										{%- if not forceUsername %} tabindex="1" value="{{ username }}" autocomplete="username" {% endif %}
										{%- if not forceUsername and not username %} autofocus {% endif %} >
									<span class="focus-input100"></span>
									<span class="label-input100"></span>

								</div>


								<div class="wrap-input100 validate-input" data-validate="Password is required">
									<input id="password" type="password" tabindex="2" name="password" class="input100" autocomplete="current-password" placeholder="Contraseña"
									{%- if forceUsername or username %} autofocus {% endif %} >
									<span class="focus-input100"></span>
									<span class="label-input100"></span>
								</div>


								<div class="flex-sb-m flex-row-reverse w-full p-t-3 p-b-32">

									<!--
									{% if rememberMeEnabled -%}

									<div class="contact100-form-checkbox">
										<input id="remember_me" type="checkbox" tabindex="5" class="input-checkbox100"
												{{ rememberMeChecked ? 'checked="checked"' }} name="remember_me" value="Yes">
											<label class="label-checkbox100" for="remember_me">
												{{ 'Remember me'|trans }}
											</label>
										</label>
									</div>

									{%- endif %}
									-->

									{% if cambiador is defined-%}

									<div>
										<a {{ 'href=' ~ cambiador }} class="txt1">
											{{ 'He olvidado mi contraseña'|trans }}
										</a>
									</div>

									{%- endif %}

								</div>

								{% if organizations is defined -%}
								<div class="pure-control-group">
									<label class="txt1" for="organization">{{ 'Organization'|trans }}:</label>
									<div class="pure-select right pure-input-1-2 pure-input-sm-1-1 selectOrganization p-t-10">
										{%- for id, orgDesc in organizations -%}
												{% if id == selectedOrg -%}
													{%- set selected = 'selected="selected"' %}
												{%- else -%}
													{% set selected = '' -%}
												{% endif -%}
												{% if orgDesc -%}
													<label class="radioOrg txt1">
														<input type="radio" name="organization" id="organization" value="{{ id }}" {{ selected }}>
															{{ orgDesc|trans }}
													</label>
												{% endif -%}
										{% endfor %}
									</div>


									{% if rememberOrganizationEnabled is defined -%}
									<br>
									<div class="contact100-form-checkbox">
										<input type="checkbox" id="remember_organization" tabindex="5" class="input-checkbox100" name="remember_organization" value="Yes"
												{{ rememberOrganizationChecked ? 'checked="checked"' }} >
											<label class="label-checkbox100" for="remember_organization">
												{{ 'Remember my organization'|trans }}
											</label>
										</label>
									</div>
									{%- endif %}
								</div> <!--pure-control-group-->
								{%- endif %}

								<br>

								<div class="container-login100-form-btn">
									<button class="login100-form-btn">
										{% trans %}Login{% endtrans %}
									</button>
								</div>

								<div class="text-center p-t-46 p-b-8">
									<span class="txt2">
									</span>
								</div>
								
								<div class="login100-form-social flex-c-m">
									<img src="{{ asset('images/logo/logo-feds.svg', 'themeRedIRIS') }}" width="300" />
								</div>

							</form>

{% endblock %}
