{% set pagetitle = 'Enter your username and password'|trans %}

<!DOCTYPE html>
  
<html lang="es">
    <head>
        <title>{{ pagetitle }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->	
        <link rel="icon" type="image/png" href="{{ asset('images/icons/favicon.ico', 'theme-RedIRIS') }}"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css', 'theme-RedIRIS') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap-icons/bootstrap-icons.css', 'theme-rediris') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css', 'theme-RedIRIS') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('fonts/Linearicons-Free-v1.0.0/icon-font.min.css', 'theme-RedIRIS') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/animate/animate.compat.css', 'theme-RedIRIS') }}">
        <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css-hamburgers/hamburgers.min.css', 'theme-RedIRIS') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/animsition/css/animsition.min.css', 'theme-RedIRIS') }}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/select2/select2.min.css', 'theme-RedIRIS') }}">
        <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/daterangepicker/daterangepicker.css', 'theme-RedIRIS') }}">
        <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/vegas/vegas.css', 'theme-RedIRIS') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/vegas/vegas.min.css', 'theme-RedIRIS') }}">        
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ asset('css/util.css', 'theme-RedIRIS') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css', 'theme-RedIRIS') }}">
        <!--===============================================================================================-->

    </head>
    <body style="background-color: #666666;">

        <!-- TODO:  mostrar errores -->
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100 middle">
                    <div class="login100-form validate-form" >
					
					<div class="loginSide">
					
                        <div class="login100-form-title p-b-43">
                            <img src="{{ asset('images/logo.svg', 'theme-RedIRIS') }}" width="200" />
                        </div>

                        <div class="text-justify p-b-20">
                            <span class="txt2">
							
							{%- if not isProduction %}

								<div class="message-box warning">
								  {% trans %}You are now accessing a pre-production system. This authentication setup
								  {#- #} is for testing and pre-production verification only. If someone sent you
								  {#- #} a link that pointed you here, and you are not <i>a tester</i> you
								  {#- #} probably got the wrong link, and should <b>not be here</b>.{% endtrans %}
								</div>
								
							{% endif -%}
							
						    {% if errorcode -%}
							
								<div class="pure-g">
									<div class="pure-u-1">
									
										<div class="message-box error">

											{% set errtitles = errorcodes['title'] %}
											{% set errtitle = errtitles[errorcode] %}

											<h5 class="text-danger">{{ errtitle|trans(errorparams) }}</h5>
											<br />

											{% set errdescs = errorcodes['descr'] %}
											{% set errdesc = errdescs[errorcode] %}

											<p><i class="bi bi-exclamation-triangle text-danger">&nbsp;</i>{{ errdesc|trans(errorparams) }}</p>

										</div>
									</div>
								</div>
								
							{%- endif %}
							
                            </span>
							
                        </div>                        


						<form class="pure-form pure-form-aligned center-form" action="?" method="post" name="f">
						
							<div class="wrap-input100 {{ forceUsername ? '' : 'validate-input'}} " data-validate = "User is required">
							
								<input id="username" class="input100" {{ forceUsername ? 'disabled' }} placeholder="Nombre usuario" type="text" name="username"
									   {%- if not forceUsername %} tabindex="1" value="{{ username }}" autocomplete="username" {% endif %}
									   {%- if not forceUsername and not username %} autofocus {% endif %} >
								<span class="focus-input100"></span>
								<span class="label-input100"></span>
								
							</div>
							
							{%- for name, value in stateparams %}

							<input type="hidden" name="{{ name }}" value="{{ value }}">
							
							{%- endfor %}
							
							<div class="wrap-input100 validate-input" data-validate="Password is required">
								<input id="password" type="password" tabindex="2" name="password" class="input100" autocomplete="current-password" placeholder="Contraseña"
								{%- if forceUsername or username %} autofocus {% endif %} >
								<span class="focus-input100"></span>
								<span class="label-input100"></span>
							</div>
							
							
							<div class="flex-sb-m flex-row-reverse w-full p-t-3 p-b-32">
							
<!--
								{% if rememberMeEnabled -%}
								
								<div class="contact100-form-checkbox">
									<input id="remember_me" type="checkbox" tabindex="5" class="input-checkbox100"
											{{ rememberMeChecked ? 'checked="checked"' }} name="remember_me" value="Yes">
										<label class="label-checkbox100" for="remember_me">
											{{ 'Remember me'|trans }}
										</label>
									</label>
								</div>
								
								{%- endif %}
-->
								
								<div>
									<a href="/" class="txt1">
										{{ 'He olvidado mi contraseña'|trans }}
									</a>
								</div>
								
							</div>
							
							{% if organizations is defined -%}
							<div class="pure-control-group">
								<label class="txt1" for="organization">{{ 'Organization'|trans }}:</label>
								<div class="pure-select right pure-input-1-2 pure-input-sm-1-1 selectOrganization p-t-10">
									{%- for id, orgDesc in organizations -%}
											{% if id == selectedOrg -%}
												{%- set selected = 'selected="selected"' %}
											{%- else -%}
												{% set selected = '' -%}
											{% endif -%}
											{% if orgDesc -%}
											
												<label class="radioOrg txt1">
													<input type="radio" name="organization" id="organization" value="{{ id }}" {{ selected }}>
												
														{{ orgDesc|trans }}
													
													
												</label>
											{% endif -%}
									{% endfor %}
								</div>
								

								{% if rememberOrganizationEnabled is defined -%}
								<br>
								<div class="contact100-form-checkbox">
									<input type="checkbox" id="remember_organization" tabindex="5" class="input-checkbox100" name="remember_organization" value="Yes"
											{{ rememberOrganizationChecked ? 'checked="checked"' }} >
										<label class="label-checkbox100" for="remember_organization">
											{{ 'Remember my organization'|trans }}
										</label>
									</label>
								</div>
								{%- endif %}
							</div> <!--pure-control-group-->
							{%- endif %}
			
							<br>
							
							<div class="container-login100-form-btn">
								<button class="login100-form-btn">
									{% trans %}Login{% endtrans %}
								</button>
							</div>
							
							<div class="text-center p-t-46 p-b-8">
								<span class="txt2">
								</span>
							</div>

							<div class="login100-form-social flex-c-m">
								<img src="{{ asset('images/logo-feds.svg', 'theme-RedIRIS') }}" width="300" />
							</div>
													
					
						</form>
					</div>
                    </div>

                    <div class="login100-more" id="slider">
                    </div>
                </div>
            </div>
        </div>

        <!--===============================================================================================-->
        <script src="{{ asset('vendor/jquery/jquery-3.6.0.js', 'theme-RedIRIS') }}"></script>
        <!--===============================================================================================-->
        <script src="{{ asset('vendor/animsition/js/animsition.min.js', 'theme-RedIRIS') }}"></script>
        <!--===============================================================================================-->
        <script src="{{ asset('vendor/bootstrap/js/popper.js', 'theme-RedIRIS') }}"></script>
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <!--===============================================================================================-->
        <script src="{{ asset('vendor/select2/select2.min.js', 'theme-RedIRIS') }}"></script>
        <!--===============================================================================================-->
        <script src="{{ asset('vendor/daterangepicker/moment.min.js', 'theme-RedIRIS') }}"></script>
        <script src="{{ asset('vendor/daterangepicker/daterangepicker.js', 'theme-RedIRIS') }}"></script>
        <!--===============================================================================================-->
        <script src="{{ asset('vendor/countdowntime/countdowntime.js', 'theme-RedIRIS') }}"></script>
        <!--===============================================================================================-->
        <script src="{{ asset('vendor/vegas/vegas.min.js', 'theme-RedIRIS') }}"></script>
        <!--===============================================================================================-->
        <script src="{{ asset('js/main.js', 'theme-RedIRIS') }}"></script>
	<script src="{{ asset('js/loginuserpass.js', 'core') }}"></script>
     
        <script>
            $("#slider").vegas({
                slides: [
                    { src: "{{ asset('images/1.jpg', 'theme-RedIRIS') }}" },
                    { src: "{{ asset('images/2.jpg', 'theme-RedIRIS') }}" },
                    { src: "{{ asset('images/3.jpg', 'theme-RedIRIS') }}" },
                    { src: "{{ asset('images/4.jpg', 'theme-RedIRIS') }}" },
                    { src: "{{ asset('images/5.jpg', 'theme-RedIRIS') }}" },
                    { src: "{{ asset('images/6.jpg', 'theme-RedIRIS') }}" },
                    { src: "{{ asset('images/7.jpg', 'theme-RedIRIS') }}" },
                    { src: "{{ asset('images/8.jpg', 'theme-RedIRIS') }}" },
            
                ],
                timer: false,
                shuffle: true,
                transition: 'blur',
                delay: 10000,
                transitionDuration: 2000,
                cover: true
                //overlay: '{{ asset('vendor/vegas/overlays/05.png', 'theme-RedIRIS') }}'
            });
        </script>
    </body>
</html>
